.forminput{
    width: 100%;
    padding: 10px;
    .inputfld{
        border-radius: 15px;
        background: linear-gradient(to right, #d1e7ff, #ffffff);
    
    }
    .label{
        display: inline-block;
    }
    
}
