/* Default Light Theme */
// :root {
//     --background-color: #ffffff;
//     --text-color: #000000;
//     --primary-color: #007bff;
//   }
  
//   /* Dark Theme - applied automatically if the user prefers dark mode */
//   @media (prefers-color-scheme: dark) {
//     :root {
//       --background-color: #121212;
//       --text-color: #121212;
//       --primary-color: #bb86fc;
     
//     }
//     .logoV{
//         filter: invert(1);
//       }
//   }
  
//   /* Apply the variables to body, buttons, etc. */
//   body {
//     background-color: var(--background-color);
//     color: var(--text-color);
//   }
  
//   button {
//     background-color: var(--primary-color);
//     color: var(--text-color);
//   }

  /* styles.css (global stylesheet) */

body.light-mode {
  --background-color: #ffffff;
  --text-color: #000000;
  font-family: sans-serif;
  // .logoVOptions{
  //   filter: invert(1);
  // }
}

body.dark-mode {
  font-family: sans-serif;
  // --background-color: #121212;
  --background-color:#1E1E1E;
  --text-color: #000000;
  .input-field{
    background: #2c2c2c;
    color: white;
  }
  .bot{
    background: #2c2c2c;
    color: white;
  }
  .user{
    background: #2c2c2c;
    color: white;
  }
  .side-button-inactive{
    opacity: 0.4;
  }
  .logoVChat{
    filter: invert(1);
  }
  
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
